* {
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #5782A5;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #5782A5;
  border-radius: 30px;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
}
